$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  position: relative;
  padding-bottom: 20px;
}

html,body {
  height: 100%;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.vote-field {

  text-align:center;
  line-height: 80px;
  height: 100%;
  cursor: pointer;
  .col-xs-12{
    padding: 0;
    width: 100%;
  }
  /*> div{
    border-radius: 10px;
  }
  */
  > div:hover{
    background-color: #669999;
    
  }
  :first-child{
    background-color: #3399FF;
  }
  :nth-child(2){
    background-color: #FF0000;
  }
  :nth-child(3){

    background-color: #009933;
  }
  :nth-child(4){
    background-color: #FFFF66;
  }
}

/* Custom styling to overide bootstrap */
.flat-btn {
  border: none;
  border-radius: 0;
}

.navbar {
  margin-bottom: 0;
}

.rowfat {
  &:hover{
    background-color: #669999;
  }
  display: table-cell;
  height:50vh;
  vertical-align: middle;
  text-align: center;
}

.navbar-main {
  border-radius: 0;

  .navbar-nav > .active > a {
    background-color: #DCF0FF;
  }
}

.main-header {
  width: 100%;
  background-color: #55acee;
  color: white;
  position: absolute;

  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  text-align: center;

  h1 {
    font-size: 60px;
    margin-top: 50px;
  }
  p {
    font-size: 24px;
    color: #C1E4FF;
  }

  .action-chooser {
    margin: 30px auto;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 8px;

    .form-control {
      margin-bottom: 5px;
    }

    .btn {
      width: 48%;

    }
  }
}

.page-wrapper {
  width: 100%;
  background-color: #55acee;
  color: white;
  position: absolute;

  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  .internal-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.stats-info {
  > div {
    width: 90%;
  }
  .panel-body {
    font-size: 40px;
    font-weight: bold;
    color: blue;
    text-align: center;

    &.top {
      border-bottom: 1px solid rgb(223, 223, 223);
    }
  }

  .stop-btn {
    width: 90%;
  }
}

