<div class="main-header">
	<div class="container">
		<div class="row">
			<h1> About VoteApp</h1>

		</div>
	</div>
	<div class="col-md-4">
		<img class="aboutlogo" src="images/real-time.png"></img>
		<h2>Conduct polls in real time.</h2>
		<p>Polls are created and hosted through unique sessions. Each session tracks data of unique voters, poll results and time.</p>
	</div>
	<div class="col-md-4">
		<img class="aboutlogo" src="images/anydevice.png"></img>
		<h2>Vote using any device.</h2>
		<p>VoteApp is a web application. Any device with internet access can use the app. With Twilio, voters can also send text messages to vote.</p>
	</div>
	<div class="col-md-4">
		<img class="aboutlogo" src="images/people.png"></img>
		<h2>Accessible to all.</h2>
		<p>We believe that voting should be available for everyone. Our app is easy to use and is free under the open source initiative.</p>
	</div>
</row>
</div>
</div>
</div>
