<div class="main-header">
	<div class="container">
    <div class="row">
    <h1> Vote with any device.</h1>
  <row>
		<p>Conduct polls anywhere, at real-time.</p>
		</row>
    <div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="action-chooser">
					<input type="text" class="form-control" placeholder="Enter session name" ng-model="sessionId">
					<button type="button" class="btn btn-default btn-info" ng-click="go('/summary/')">Create vote</button>
					<button type="button" class="btn btn-default btn-info" ng-click="go('/vote/')">Join vote</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>








