<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">



<style>
 
.btn {
    margin:20px;
    padding: 40px;
    font-size: 60px;
    color: #142E40;
    background-color: white;
 
}
 
.wrapper {
    background-color:#55acee;
    margin: 10px;
}
 
</style>
<div class="container">
    <div class="row">
        <h2>Question 1</h2>
 
        <div class="wrapper text-center">
            <button ng-repeat="choice in voteNode" type="button" class="btn text-uppercase btn-lg" 
            ng-class="{'selected':curChoice==choice}" ng-click="onVote(choice)">{{choice}}</button>
 
    	</div>
 




















<!-- <div class="col-sm-6 col-md-3 box" style="background-color: #3A3A3C">
        <a href="#" >
            <h1>A</h1>
        </a>
</div>



<div class="col-sm-6 col-md-3 box" style="background-color: #EEBA4C;">
        <a href="#" >
            <h1>B</h1>
        </a>
</div>


<div class="col-sm-6 col-md-3 box" style="background-color: #23B5AF">
    <a href="#" >
        <h1>C</h1>
    </a>
</div>


<div class="col-sm-6 col-md-3 box" style="background-color: #E3493B">
    <a href="#" >
        <h1>D</h1>
    </a>
</div> -->
<!-- <div class="tile">

<div class="vote-field visible-xs-block visible-sm-block" style="width:100%;margin:0px;">
	<div class="cols-xs-12" ng-click="onVote('A')"> 
		Lorum ipsum
	</div>
	<div class="cols-xs-12" ng-click="onVote('B')"> 
		Lorum ipsum
	</div>
	<div class="cols-xs-12" ng-click="onVote('C')"> 
		Lorum ipsum
	</div>
	<div class="cols-xs-12" ng-click="onVote('D')"> 
		Lorum Ipsum
	</div>
</div>

<div class="vote-field visible-md-block visible-lg-block">
	<div class="row">
		<div class="col-md-3 rowfat" ng-click="onVote('A')"> 
			<div class="rowfat">
			Lorum ipsum
		</div>
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('B')"> 
			Lorum ipsum
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('C')"> 
			Lorum ipsum
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('D')"> 
			Lorum Ipsum
		</div>
		<div class="row">
		<div class="col-md-3 rowfat" ng-click="onVote('A')"> 
			Lorum ipsum
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('B')"> 
			Lorum ipsum
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('C')"> 
			Lorum ipsum
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('D')"> 
			Lorum Ipsum
		</div>-->
	</div>
</div> 
