<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<div class="vote-field visible-xs-block visible-sm-block" style="width:100%;margin:0px;">
	<div class="cols-xs-12" ng-click="onVote('A')"> 
		Lorum ipsum
	</div>
	<div class="cols-xs-12" ng-click="onVote('B')"> 
		Lorum ipsum
	</div>
	<div class="cols-xs-12" ng-click="onVote('C')"> 
		Lorum ipsum
	</div>
	<div class="cols-xs-12" ng-click="onVote('D')"> 
		Lorum Ipsum
	</div>
</div>

<div class="vote-field visible-md-block visible-lg-block">
	<div class="row">
		<div class="col-md-3 rowfat" ng-click="onVote('A')"> 
			Lorum ipsum
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('B')"> 
			Lorum ipsum
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('C')"> 
			Lorum ipsum
		</div>
		<div class="col-md-3 rowfat" ng-click="onVote('D')"> 
			Lorum Ipsum
		</div>
	</div>
</div>
